*{
    background-color: #FFC1E0;
    font-family: calibri;
    font-size: 30px;
    padding: 0px 5px;
}

p{
    padding: 0 150px;
    text-align: justify;
}

marquee{
    font-size: 50px;
    font-family: arial;
    background-color: yellow;
    padding: 20px 20px;
}

h2{
    font-size: 50px;
    padding: 20px 20px;
    border-radius: 30px;
    background-color: none;
    margin: 30px 300px;
    text-align: center;
    align-content: center;
    color: black;
}































































